@import url("./__input/popup__input.css");
@import url("./__body/popup__body.css");
@import url("./__title/popup__title.css");
@import url("./__openPicture-popup/openPicture-popup.css");
.popup{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .4s linear;
}
.popup_show{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity .4s linear;
}
