.popup__input-error{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    padding-top: 5px;
    color: #FF0000;
    display: block;
    min-height: 20px;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}
.popup__input-error_active{
    opacity: 1;
}