@import url("__picture/profile__picture.css");
@import url("__name/profile__name.css");
@import url("__designation/profile__designation.css");
@import url("__text/profile__text.css");
@import url("__profile__pictureBox/profile__pictureBox.css");
@import url("__profile__overlay/profile__overlay.css");
@import url("__profile__editIcon/profile__editIcon.css");
.profile{
    max-width: 882px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 120px auto 150px;
    grid-column-gap: 30px;
    align-items: center;
}

@media screen and (max-width: 768px){
    .profile{
        grid-template-columns: 320px;
        justify-content: center;
        justify-items: center;
        grid-row-gap: 15px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 425px){
    .profile{
        grid-template-columns: 100%;
        padding: 0 20px;
        margin-top: 42px;
        grid-row-gap: 0;
    }
}
