.button_role_submit{
    width: 100%;
    min-height: 50px;
    background-color: #000000;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 48px;
    cursor: pointer;
}

.button_role_submit:hover{
    background-color: rgba(0,0,0,0.8);
}