.button_role_edit{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    width: 24px;
    height: 24px;
    margin-left: 24px;
    background-image: url("../../../images/edit.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.button_role_edit:hover{
    opacity: .6;
}

@media screen and (max-width: 425px){
    .button_role_edit{
        margin-left: 14px;
        position: absolute;
        top: 30px;
        right: -45px;
        border: 1px solid #FFFFFF;
        width: 18px;
        height: 18px;
    }
}