@import url("./__item/cards__item.css");
@import url("./__list/cards__list.css");
@import url("./__info/cards__info.css");
@import url("./__favourite/cards__favourite.css");
@import url("./__image/cards__image.css");
@import url("./__title/cards__title.css");
@import url("./__delete/cards__delete.css");
@import url("./__likes/cards__likes.css");
.cards{
    max-width: 882px;
    width: 100%;
    margin: 0 auto;
    margin-top: 45px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px){
    .cards{
        margin-top: 40px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 320px){
    .cards{
        margin-top: 36px;
    }
}