@import url("__text/openPicture-popup__text.css");
@import url("__img/openPicture-popup__img.css");
.openPicture-popup{
    padding: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}