@import url("./__text/footer__text.css");
.footer{
    max-width: 882px;
    width: 100%;
    margin: 0 auto;
    padding-top: 66px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px){
    .footer{
        padding: 48px 20px 36px 20px;
    }
}