@import url("./__button_role_edit/button_role_edit.css");
@import url("./__button_role_add/button_role_add.css");
@import url("./__button_role_submit/button_role_submit.css");
.button{
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.button:hover{
    opacity: .6;
}